# Base configuration for Aviary
#
# Included is the Schedd plugin, AviaryScheddPlugin-plugin.so, and the aviary_query_server

# The general Aviary config file for Axis2
# axis2.xml has parameters that point to lib and services dir
WSFCPP_HOME=/var/lib/condor/aviary/axis2.xml

# Aviary Schedd plugin, provides submission and job control endpoint
SCHEDD.PLUGINS = $(SCHEDD.PLUGINS) $(LIB)/plugins/AviaryScheddPlugin-plugin.so

# Port the Aviary Schedd plugin listens on, default 9000
SCHEDD.HTTP_PORT = 9090

# Aviary query server, provides endpoint for job and submission queries
QUERY_SERVER = $(SBIN)/aviary_query_server
QUERY_SERVER_ARGS = -f
QUERY_SERVER.QUERY_SERVER_LOG = $(LOG)/QueryServerLog
QUERY_SERVER.QUERY_SERVER_DEBUG = D_ALWAYS
DAEMON_LIST = $(DAEMON_LIST), QUERY_SERVER

# Port the QueryServer listens on, default 9000
QUERY_SERVER.HTTP_PORT = 9091

# HISTORY_INTERVAL specifies the number of seconds between polls of the HISTORY file, default 120
#QUERY_SERVER.HISTORY_INTERVAL = 120

# If there is more than one Schedd on the system or if the Schedd and
# QueryServer reside on different systems, it is necessary to tell the
# QueryServer the name of the Schedd it is working with via
# QUERY_SERVER.SCHEDD_NAME. This allows the QueryServer to provide
# fully-qualified job ids, i.e. cluster.proc:pool:scheduler. Default
# is constructed in the same way the Schedd constructs its name.
#QUERY_SERVER.SCHEDD_NAME =

# SSL support config using OpenSSL default certs dir
SCHEDD.AVIARY_SSL = False
SCHEDD.AVIARY_SSL_SERVER_CERT = /etc/pki/tls/certs/server.crt
SCHEDD.AVIARY_SSL_SERVER_KEY = /etc/pki/tls/certs/server.key
SCHEDD.AVIARY_SSL_CA_DIR = /etc/pki/tls/certs
SCHEDD.AVIARY_SSL_CA_FILE = /etc/pki/tls/certs/ca-bundle.crt

QUERY_SERVER.AVIARY_SSL = False
QUERY_SERVER.AVIARY_SSL_SERVER_CERT = /etc/pki/tls/certs/server.crt
QUERY_SERVER.AVIARY_SSL_SERVER_KEY = /etc/pki/tls/certs/server.key
QUERY_SERVER.AVIARY_SSL_CA_DIR = /etc/pki/tls/certs
QUERY_SERVER.AVIARY_SSL_CA_FILE = /etc/pki/tls/certs/ca-bundle.crt