# Base configuration for Aviary
#
# Included is the Schedd plugin, AviaryScheddPlugin-plugin.so, and the aviary_query_server

# Root of the Axis2 deployable, expected presence of axis2.xml, services/ and lib/
# Subject to change in the future, possibly to /var/lib/condor/axis2
WSFCPP_HOME=/usr

# Aviary Schedd plugin, provides submission and job control endpoint
SCHEDD.PLUGINS = $(SCHEDD.PLUGINS) $(LIB)/plugins/AviaryScheddPlugin-plugin.so

# Port the Aviary Schedd plugin listens on, default 9090
#SCHEDD.HTTP_PORT = 9090

# Aviary query server, provides endpoint for job and submission queries
QUERY_SERVER = $(SBIN)/aviary_query_server
QUERY_SERVER_ARGS = -f
QUERY_SERVER.QUERY_SERVER_LOG = $(LOG)/QueryServerLog
QUERY_SERVER.QUERY_SERVER_DEBUG = D_ALWAYS
DAEMON_LIST = $(DAEMON_LIST), QUERY_SERVER

# Port the QueryServer listens on, default 9091
#QUERY_SERVER.HTTP_PORT = 9091

# HISTORY_INTERVAL specifies the number of seconds between polls of the HISTORY file, default 120
#QUERY_SERVER.HISTORY_INTERVAL = 120

# If there is more than one Schedd on the system or if the Schedd and
# QueryServer reside on different systems, it is necessary to tell the
# QueryServer the name of the Schedd it is working with via
# QUERY_SERVER.SCHEDD_NAME. This allows the QueryServer to provide
# fully-qualified job ids, i.e. cluster.proc:pool:scheduler. Default
# is constructed in the same way the Schedd constructs its name.
#QUERY_SERVER.SCHEDD_NAME =
