
###########################
# This is temporary
QUEUE_ALL_USERS_TRUSTED=TRUE

###########################
# Loads the hadoop plugin *NOTE* you will need to disable the existing 
# scheduler plugin in order to use *this one* 
SCHEDD.PLUGINS = $(SCHEDD.PLUGINS) $(LIB)/plugins/AviaryHadoopPlugin-plugin.so

###########################
# The plugin uses these scripts to 
HADOOP_HDFS_NAMENODE_SCRIPT=$(SHARE)/aviary/hdfs_namenode.sh
HADOOP_HDFS_DATANODE_SCRIPT=$(SHARE)/aviary/hdfs_datanode.sh
HADOOP_MAPR_JOBTRACKER_SCRIPT=$(SHARE)/aviary/mapred_jobtracker.sh
HADOOP_MAPR_TASKTRACKER_SCRIPT=$(SHARE)/aviary/mapred_tasktracker.sh

