###############################################################
# Loads the hadoop plugin *NOTE* you will need to disable the existing 
# scheduler plugin in order to use *this one* 
SCHEDD.PLUGINS = $(LIB)/plugins/AviaryHadoopPlugin-plugin.so

###############################################################
# The plugin uses these scripts to to start and control the nodes
HADOOP_HDFS_NAMENODE_SCRIPT=$(SHARE)/aviary/hdfs_namenode.sh
HADOOP_HDFS_DATANODE_SCRIPT=$(SHARE)/aviary/hdfs_datanode.sh
HADOOP_MAPR_JOBTRACKER_SCRIPT=$(SHARE)/aviary/mapred_jobtracker.sh
HADOOP_MAPR_TASKTRACKER_SCRIPT=$(SHARE)/aviary/mapred_tasktracker.sh

###############################################################
# The following are requirements over-rides for the plugin
# NAME_NODE_REQUIREMENTS=
# DATA_NODE_REQUIREMENTS=
# JOB_TRACKER_REQUIREMENTS=
# TASK_TRACKER_REQUIREMENTS=

