*~
.*.swp
*.DS_STORE

__pycache__

# Project exclude paths
/_build/

# vscode files
.vscode/
htcondor-snake-submit-example/Miniforge3-Linux-x86_64.sh
htcondor-snake-submit-example/snakemake-env.tar.gz
