
language: c

sudo: true
dist: xenial

matrix:
    include:
        - os: osx
          env: UW_BUILD=ON PROPER=OFF VOMS=ON GLOBUS=ON
        - os: osx
          env: UW_BUILD=OFF PROPER=ON VOMS=OFF GLOBUS=OFF
        - os: osx
          env: UW_BUILD=ON PROPER=OFF VOMS=OFF GLOBUS=OFF
          osx_image: xcode6.4
        - os: linux
          env: UW_BUILD=OFF PROPER=ON
        - os: linux
          env: UW_BUILD=ON PROPER=OFF CLIPPED=ON
        - os: linux
          env: UW_BUILD=ON PROPER=OFF CLIPPED=ON DOCKER_IMAGE=centos:centos7
        - os: linux
          env: UW_BUILD=ON PROPER=OFF CLIPPED=ON DOCKER_IMAGE=fedora:29
        - os: linux
          env: UW_BUILD=ON PROPER=OFF CLIPPED=ON DOCKER_IMAGE=fedora:30

cache:
    directories:
        - bld_external/blahp-1.16.5.1-p26
        - bld_external/boinc-client_release-7.14-7.14.1
        - bld_external/boost-1.66.0-p1
        - bld_external/canl-c-2.1.6
        - bld_external/drmaa-1.6.2-p1
        - bld_external/glibc-2.17-157-x86_64
        - bld_external/glite-ce-cream-client-api-c-1.15.4-p1
        - bld_external/glite-ce-wsdl-1.15.1
        - bld_external/glite-lbjp-common-gsoap-plugin-3.2.12
        - bld_external/glite-lbjp-common-gss-3.2.16
        - bld_external/globus-6.0-p2
        - bld_external/gridsite-2.2.6
        - bld_external/gsoap_2.7.16-p1
        - bld_external/log4cpp-1.0-3
        - bld_external/libcgroup-0.41
        - bld_external/munge-0.5.13
        - bld_external/unicoregahp-1.2.0
        - bld_external/voms-2.1.0-rc0
        - bld_external/zlib-1.2.3
        - bld_external_rhel/blahp-1.16.5.1-p26
        - bld_external_rhel/boinc-client_release-7.14-7.14.1
        - bld_external_rhel/boost-1.66.0-p1
        - bld_external_rhel/canl-c-2.1.6
        - bld_external_rhel/drmaa-1.6.2-p1
        - bld_external_rhel/glibc-2.17-157-x86_64
        - bld_external_rhel/glite-ce-cream-client-api-c-1.15.4-p1
        - bld_external_rhel/glite-ce-wsdl-1.15.1
        - bld_external_rhel/glite-lbjp-common-gsoap-plugin-3.2.12
        - bld_external_rhel/glite-lbjp-common-gss-3.2.16
        - bld_external_rhel/globus-6.0-p2
        - bld_external_rhel/gridsite-2.2.6
        - bld_external_rhel/gsoap_2.7.16-p1
        - bld_external_rhel/log4cpp-1.0-3
        - bld_external_rhel/libcgroup-0.41
        - bld_external_rhel/munge-0.5.13
        - bld_external_rhel/unicoregahp-1.2.0
        - bld_external_rhel/voms-2.1.0-rc0
        - bld_external_rhel/zlib-1.2.3

services:
    - docker

before_install:
    - |
      if [[ -z $DOCKER_IMAGE && $TRAVIS_OS_NAME != osx ]]; then
        sudo apt-get install -y --no-install-recommends  \
          chrpath cmake default-jdk gfortran globus-core help2man latex2html  \
          libboost-filesystem-dev libboost-program-options-dev  \
          libboost-python-dev libboost-regex-dev libboost-system-dev  \
          libboost-test-dev libboost-thread-dev libcgroup-dev  \
          libcurl4-openssl-dev libglobus-common-dev libglobus-ftp-client-dev  \
          libglobus-gass-server-ez-dev libglobus-gram-client-dev  \
          libglobus-gram-protocol-dev libglobus-gss-assist-dev libmunge-dev  \
          libpq-dev libvirt-dev libxml2-dev po-debconf texlive-font-utils  \
          transfig libc-ares-dev voms-dev libtool-bin
      fi
    - sudo mkdir -p /etc/default && sudo touch /etc/default/docker
    - echo 'DOCKER_OPTS="-H tcp://127.0.0.1:2375 -H unix:///var/run/docker.sock -s devicemapper"' | sudo tee /etc/default/docker > /dev/null
    - |
      if [[ ! -z $DOCKER_IMAGE ]]; then
        sudo service docker restart
        sleep 5
        sudo docker pull $DOCKER_IMAGE
      fi

script:
    - if [[ -z "$DOCKER_IMAGE" ]] && [[ "$TRAVIS_OS_NAME" != "osx" ]]; then cmake -DPROPER:BOOL=$PROPER -DCLIPPED:BOOL=$CLIPPED -DUW_BUILD:BOOL=$UW_BUILD -D_DEBUG:BOOL=TRUE -DCMAKE_SKIP_RPATH:BOOL=ON -DHAVE_EXT_GSOAP:BOOL=OFF -DWITH_GSOAP:BOOL=OFF -DHAVE_EXT_CURL:BOOL=ON -DHAVE_EXT_OPENSSL:BOOL=ON -DHAVE_EXT_BOOST:BOOL=ON -DHAVE_EXT_GLOBUS:BOOL=ON -DWITH_GLOBUS:BOOL=ON -DHAVE_EXT_KRB5:BOOL=ON -DHAVE_EXT_LIBVIRT:BOOL=ON -DHAVE_EXT_LIBXML2:BOOL=ON -DHAVE_EXT_OPENSSL:BOOL=ON -DHAVE_EXT_PCRE:BOOL=ON -DHAVE_EXT_VOMS:BOOL=ON -DWITH_VOMS:BOOL=ON -DWITH_LIBCGROUP:BOOL=ON -DWANT_CONTRIB:BOOL=OFF -DWITH_BOSCO:BOOL=OFF -DWITH_PYTHON_BINDINGS:BOOL=OFF -DWITH_CAMPUSFACTORY:BOOL=OFF; fi
    - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then cmake -DPROPER:BOOL=$PROPER -DCLIPPED:BOOL=ON -DUW_BUILD:BOOL=$UW_BUILD -D_DEBUG:BOOL=TRUE -DCMAKE_SKIP_RPATH:BOOL=ON -DHAVE_EXT_GSOAP:BOOL=OFF -DWITH_GSOAP:BOOL=OFF -DHAVE_EXT_CURL:BOOL=ON -DHAVE_EXT_OPENSSL:BOOL=ON -DHAVE_EXT_BOOST:BOOL=ON -DHAVE_EXT_GLOBUS:BOOL=$GLOBUS -DWITH_GLOBUS:BOOL=$GLOBUS -DHAVE_EXT_KRB5:BOOL=ON -DHAVE_EXT_LIBXML2:BOOL=ON -DHAVE_EXT_OPENSSL:BOOL=ON -DHAVE_EXT_PCRE:BOOL=ON -DHAVE_EXT_VOMS:BOOL=$VOMS -DWITH_VOMS:BOOL=$VOMS -DWANT_CONTRIB:BOOL=OFF -DWITH_BOSCO:BOOL=OFF -DWITH_PYTHON_BINDINGS:BOOL=OFF -DWITH_CAMPUSFACTORY:BOOL=OFF; fi
# The Mac OS X Travis-CI build times out at 10 minutes without visible output; this breaks up the "noisy externals" in half in this case.
    - if [[ -z "$DOCKER_IMAGE" ]] && [[ "$PROPER" == "OFF" ]]; then travis_wait /bin/sh -c "make -j2 boost globus >> noisy_externals.log 2>> noisy_externals.log || cat noisy_externals.log"; fi
    - if [[ -z "$DOCKER_IMAGE" ]]; then make externals -j2 && make -j2; fi
# Now, handle the case where we build inside Docker
    - if [[ ! -z "$DOCKER_IMAGE" ]]; then touch bld_external_rhel bld_external; sudo docker run --rm=true -w "`pwd`" -v "`pwd`:`pwd`" $DOCKER_IMAGE /bin/bash -x -c "mv bld_external bld_external_ubuntu && mv bld_external_rhel bld_external && (yum -y install epel-release || :) && yum -y install systemtap-sdt-devel gcc-gfortran patch c-ares-devel autoconf automake libtool perl-Time-HiRes perl-Archive-Tar perl-XML-Parser perl-Digest-MD5 gcc-c++ make cmake flex byacc pcre-devel openssl-devel krb5-devel libvirt-devel bind-utils m4 libX11-devel libXScrnSaver-devel curl-devel expat-devel openldap-devel python-devel boost-devel redhat-rpm-config sqlite-devel glibc-static libuuid-devel bison bison-devel libtool-ltdl-devel pam-devel nss-devel libxml2-devel libstdc++-devel libstdc++-static && (yum -y install python36-devel boost169-devel boost169-static || :) && cmake -DBUILD_TESTING:BOOL=TRUE -DPROPER:BOOL=$PROPER -DCLIPPED:BOOL=$CLIPPED -DUW_BUILD:BOOL=$UW_BUILD -D_DEBUG:BOOL=TRUE -DCMAKE_SKIP_RPATH:BOOL=ON -DHAVE_EXT_GSOAP:BOOL=OFF -DWITH_GSOAP:BOOL=OFF -DHAVE_EXT_CURL:BOOL=ON -DHAVE_EXT_OPENSSL:BOOL=ON -DHAVE_EXT_BOOST:BOOL=ON -DHAVE_EXT_GLOBUS:BOOL=ON -DWITH_GLOBUS:BOOL=ON -DHAVE_EXT_KRB5:BOOL=ON -DHAVE_EXT_LIBVIRT:BOOL=ON -DHAVE_EXT_LIBXML2:BOOL=ON -DHAVE_EXT_OPENSSL:BOOL=ON -DHAVE_EXT_PCRE:BOOL=ON -DHAVE_EXT_VOMS:BOOL=ON -DWITH_VOMS:BOOL=ON -DWITH_LIBCGROUP:BOOL=ON -DWANT_CONTRIB:BOOL=OFF -DWITH_BOSCO:BOOL=OFF -DWITH_PYTHON_BINDINGS:BOOL=OFF -DWITH_CAMPUSFACTORY:BOOL=OFF && make -j2 externals && make -j2"; export bld_result=$?; mv bld_external bld_external_rhel; exit $bld_result; fi
