@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	line-height: 1.5em;
}

h1 + h2 {
	margin-top: 0;
}

h1 {
	font-family: "HelveticaNeue-Light", "HelveticaNeueLight", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Roboto, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	text-align: center;
	font-size: 250%;
}

h1.htclogo + h1 {
	margin-top: 0;
}


/* 
    htclogo: Centered title. Usage:
  <h1 class="htclogo"><img src="HTCondor.svg" alt="HTCondor"></h1>
*/
h1.htclogo {
	text-align: center;
	margin: 0;
	margin-bottom: 0.2em;
}
h1.htclogo img {
	display: inline-block;
	height: 1.0em;
	vertical-align: bottom;
}
h1.htclogo.alone img {
	height: 1.5em;
}


/*
  htcbug: displayed at bottom right corner of window. Usage:

  <h1 class="htcbug"><img src="HTCondor.svg" alt="HTCondor"></h1>
*/
h1.htcbug {
	position: fixed;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
	z-index: 1;
}
h1.htcbug img {
	height: 0.7em;
}
