/***************************************************************
 *
 * Copyright (C) 1990-2007, Condor Team, Computer Sciences Department,
 * University of Wisconsin-Madison, WI.
 * 
 * Licensed under the Apache License, Version 2.0 (the "License"); you
 * may not use this file except in compliance with the License.  You may
 * obtain a copy of the License at
 * 
 *    http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 ***************************************************************/

CONDOR_register_job_info	-81
CONDOR_register_ckpt_platform	-80
CONDOR_shell			-79
CONDOR_begin_execution		-78
CONDOR_register_starter_info	-77
CONDOR_get_user_info		-76
CONDOR_register_mpi_master_info	-75
CONDOR_get_file_info_new	-74
CONDOR_register_begin_execution	-73
CONDOR_report_file_info_new	-72
CONDOR_register_syscall_version	-71
CONDOR_get_std_file_info	-70
CONDOR_get_file_info		-69
CONDOR_report_file_info		-68
CONDOR_get_buffer_info		-67
CONDOR_get_ckpt_speed		-66
CONDOR_job_exit                 -65
CONDOR_get_executable           -64
CONDOR_get_job_info             -63
CONDOR_register_machine_info    -62
CONDOR_get_ckpt_mode		-61
CONDOR_register_opsys		-60
CONDOR_register_arch		-59
CONDOR_register_ckpt_server	-58
CONDOR_carmi_cancel_request	-57
CONDOR_carmi_config		-56
CONDOR_carmi_get_class_ad	-55
CONDOR_carmi_addhosts		-54
CONDOR_carmi_delhosts		-53
CONDOR_carmi_add_notify		-52
CONDOR_carmi_delete_notify	-51
CONDOR_carmi_suspend_notify	-50
CONDOR_carmi_resume_notify	-49
CONDOR_carmi_class_spawn	-48
CONDOR_carmi_process_info	-47
CONDOR_carmi_class_definitions	-46
CONDOR_carmi_define_class	-45
CONDOR_carmi_remove_class	-44
CONDOR_carmi_ckpt		-43
CONDOR_carmi_restart		-42
CONDOR_carmi_migrate		-41
CONDOR_get_IOServerAddr         -40
CONDOR_lseekwrite               -39
CONDOR_lseekread                -38
CONDOR_get_username		-37
CONDOR_get_universe			-36
CONDOR_register_afs_cell	-35
CONDOR_register_fs_domain	-34
CONDOR_register_uid_domain	-33
CONDOR_get_a_out_name		-32
CONDOR_file_info			-31
CONDOR_get_ckpt_name		-30
CONDOR_get_iwd				-29
CONDOR_std_file_info		-28
CONDOR_startup_info_request	-27
CONDOR_put_file_stream		-26
CONDOR_get_file_stream		-25
CONDOR_get_file_chunk		-24
CONDOR_suspended			-23
CONDOR_pvm_task_info		-22
CONDOR_new_connection   	-21
CONDOR_pvm_info         	-20
CONDOR_subproc_status 		-19
CONDOR_work_request			-18
CONDOR_send_core			-17
CONDOR_report_error			-16
CONDOR_send_rusage			-15
CONDOR_send_a_file			-14
CONDOR_get_file				-13
CONDOR_extern_name			-12
CONDOR_free_fs_blocks		-11
CONDOR_image_size			-10
CONDOR_processlogging		-9
CONDOR_reallyexit			-8
CONDOR_updaterusage			-7
CONDOR_getwd        		-6
PSEUDO_brk					-5
CONDOR_getegid      		-4
CONDOR_geteuid      		-3
PSEUDO_getppid				-2
CONDOR_wait3				-1


CONDOR_accept        0
CONDOR_access        1
CONDOR_acct          2
CONDOR_adjtime       3
CONDOR_async_daemon  4
CONDOR_bind          5
CONDOR_chdir         6
CONDOR_chmod         7
CONDOR_chown         8
CONDOR_chroot        9
CONDOR_close         10
CONDOR_connect       11
CONDOR_creat         12
CONDOR_dup           13
CONDOR_dup2          14
CONDOR_execv         15
CONDOR_execve        16
CONDOR__exit         17
CONDOR_exportfs      18
CONDOR_fchmod        19
CONDOR_fchown        20
CONDOR_fcntl         21
CONDOR_flock         22
CONDOR_fork          23
CONDOR_fstat         24
CONDOR_fstatfs       25
CONDOR_fsync         26
CONDOR_ftruncate     27
CONDOR_getdirentries 28
CONDOR_getdomainname 29
CONDOR_getdopt       30
CONDOR_getdtablesize 31
CONDOR_getfh         32
CONDOR_getgid        33
CONDOR_getgroups     34
CONDOR_gethostid     35
CONDOR_gethostname   36
CONDOR_getitimer     37
CONDOR_getpagesize   38
CONDOR_getpeername   39
CONDOR_getpgrp       40
CONDOR_getpid        41
CONDOR_getpriority   42
CONDOR_getrlimit     43
CONDOR_getrusage     44
CONDOR_getsockname   45
CONDOR_getsockopt    46
CONDOR_gettimeofday  47
CONDOR_getuid        48
CONDOR_ioctl         49
CONDOR_kill          50
CONDOR_killpg        51
CONDOR_link          52
CONDOR_listen        53
CONDOR_lseek         54
CONDOR_lstat         55
CONDOR_madvise       56
CONDOR_mincore       57
CONDOR_mkdir         58
CONDOR_mknod         59
CONDOR_mmap          60
CONDOR_mount         61
CONDOR_mprotect      62
CONDOR_mremap        63
CONDOR_munmap        64
CONDOR_nfssvc        65
CONDOR_open          66
CONDOR_pipe          67
CONDOR_profil        68
CONDOR_ptrace        69
CONDOR_quotactl      70
CONDOR_read          71
CONDOR_readlink      72
CONDOR_readv         73
CONDOR_reboot        74
CONDOR_recv          75
CONDOR_recvfrom      76
CONDOR_recvmsg       77
CONDOR_rename        78
CONDOR_rmdir         79
CONDOR_sbrk          80
CONDOR_select        81
CONDOR_send          82
CONDOR_sendmsg       83
CONDOR_sendto        84
CONDOR_setdomainname 85
CONDOR_setdopt       86
CONDOR_setgroups     87
CONDOR_sethostid     88
CONDOR_sethostname   89
CONDOR_setitimer     90
CONDOR_setpgrp       91
CONDOR_setpriority   92
CONDOR_setregid      93
CONDOR_setreuid      94
CONDOR_setrlimit     95
CONDOR_setsockopt    96
CONDOR_settimeofday  97
CONDOR_shutdown      98
CONDOR_sigblock      99
CONDOR_sigpause      100
CONDOR_sigreturn     101
CONDOR_sigsetmask    102
CONDOR_sigstack      103
CONDOR_sigvec        104
CONDOR_socket        105
CONDOR_socketpair    106
CONDOR_sstk          107
CONDOR_stat          108
CONDOR_statfs        109
CONDOR_swapon        110
CONDOR_symlink       111
CONDOR_sync          112
CONDOR_truncate      113
CONDOR_umask         114
CONDOR_unlink        115
CONDOR_umount       116
CONDOR_utimes        117
CONDOR_vhangup       118
CONDOR_wait          119
CONDOR_write         120
CONDOR_writev        121
CONDOR_accessx		122
CONDOR_audit		123
CONDOR_auditbin		124
CONDOR_auditevents	125
CONDOR_auditlog		126
CONDOR_auditobj		127
CONDOR_auditproc	128
CONDOR_brk			129
CONDOR_chacl		130
CONDOR_chownx		131
CONDOR_chpriv		132
CONDOR_disclaim		133
CONDOR_faccessx		134
CONDOR_fchacl		135
CONDOR_fchownx		136
CONDOR_fchpriv		137
CONDOR_fclear		138
CONDOR_frevoke		139
CONDOR_fscntl		140
CONDOR_fstatacl		141
CONDOR_fstatpriv	142
CONDOR_fstatx		143
CONDOR_getargs		144
CONDOR_getdirent	145
CONDOR_getevars		146
CONDOR_getgidx		147
CONDOR_kgetpgrp		148
CONDOR_getpri		149
CONDOR_getpriv		150
CONDOR_getproc		151
CONDOR_getuidx		152
CONDOR_getuser		153
CONDOR_kfcntl		154
CONDOR_kioctl		155
CONDOR_knlist		156
CONDOR_kreadv		157
CONDOR_kwaitpid		158
CONDOR_kwritev		159
CONDOR_load			160
CONDOR_loadbind		161
CONDOR_loadquery	162
CONDOR_mntctl		163
CONDOR_openx		164
CONDOR_pause		165
CONDOR_plock		166
CONDOR_poll			167
CONDOR_privcheck	168
CONDOR_psdanger		169
CONDOR_revoke		170
CONDOR_absinterval	171
CONDOR_getinterval	172
CONDOR_gettimer		173
CONDOR_gettimerid	174
CONDOR_incinterval	175
CONDOR_reltimerid	176
CONDOR_resabs		177
CONDOR_resinc		178
CONDOR_restimer		179
CONDOR_settimer		180
CONDOR_nsleep		181
CONDOR_seteuid		182
CONDOR_setgid		183
CONDOR_setgidx		184
CONDOR_setpgid		185
CONDOR_setpri		186
CONDOR_setpriv		187
CONDOR_setsid		188
CONDOR_setuid		189
CONDOR_setuidx		190
CONDOR_shmctl		191
CONDOR_shmget		192
CONDOR_shmat		193
CONDOR_shmdt		194
CONDOR_msgctl		195
CONDOR_msgget		196
CONDOR_msgsnd		197
CONDOR_msgrcv		198
CONDOR_msgxrcv		199
CONDOR_semctl		200
CONDOR_semget		201
CONDOR_semop		202
CONDOR_sigaction	203
CONDOR_sigcleanup	204
CONDOR_sigprocmask	205
CONDOR_sigsuspend	206
CONDOR_sigpending	207
CONDOR_statacl		208
CONDOR_statpriv		209
CONDOR_statx		210
CONDOR_swapoff		211
CONDOR_swapqry		212
CONDOR_sysconfig	213
CONDOR_times		214
CONDOR_ulimit		215
CONDOR_uname		216
CONDOR_unameu		217
CONDOR_unamex		218
CONDOR_unload		219
CONDOR_usrinfo		220
CONDOR_ustat		221
CONDOR_uvmount		222
CONDOR_vmount		223
CONDOR_Trconflag	224
CONDOR_trchook		225
CONDOR_trchk		226
CONDOR_trchkt		227
CONDOR_trchkl		228
CONDOR_trchklt		229
CONDOR_trchkg		230
CONDOR_trchkgt		231
CONDOR_trcgen		232
CONDOR_trcgent		233
CONDOR_getppid		234
CONDOR_lockf		235
CONDOR_unmount		236
CONDOR_sigvector	237
CONDOR_getpgrp2		238
CONDOR_utssys		239
CONDOR_setresuid	240
CONDOR_setresgid	241
CONDOR_utime		242
CONDOR_wait4		243
CONDOR_exec_with_loader	244
CONDOR_getlogin		245
CONDOR_setlogin		246
CONDOR_fchdir		247
CONDOR_getfsstat	248
CONDOR_vfork		249
CONDOR_table		250
CONDOR_lchown		251
CONDOR_mvalid		252
CONDOR_getaddressconf	253
CONDOR_msync		254
CONDOR_getpgid		255
CONDOR_uswitch		256
CONDOR_getsysinfo	257
CONDOR_setsysinfo	258
CONDOR_getdents		259
CONDOR_bdflush		260
CONDOR_create_module	261
CONDOR_delete_module	262
CONDOR_init_module	263
CONDOR_ioperm		264
CONDOR_iopl		265
CONDOR_idle		266
CONDOR_clone		267
CONDOR_fork1		268
CONDOR_waitpid		269
CONDOR_waitid		270
CONDOR_llseek		271
CONDOR_execvp		272
CONDOR_fstat64		273
CONDOR_stat64		274
CONDOR_lstat64		275
CONDOR_lseek64		276
CONDOR_getrlimit64	277
CONDOR_setrlimit64	278
CONDOR_mmap64		279
CONDOR_getdents64	280
CONDOR_truncate64	281
CONDOR_ftruncate64	282
CONDOR_lockf64		283
CONDOR_ulog		284
CONDOR_get_job_attr	285
CONDOR_set_job_attr	286
CONDOR_constrain        287
CONDOR_get_sec_session_info 288
