##
## Default security settings
##
## Host-based security was the default for the 8.8 series (and earlier).
##
## Host-based security assumes that all users on a machine are trusted.
## For example, if host-based security trusts that a given machine can 
## run jobs, then any user who can start a process on that machine can 
## start a startd that can "steal" jobs from the system.
#
## To help make HTCondor secure by default, we removed host-based security
## from the default configuration file
## (/etc/condor/condor_config).
##
## New installations of HTCondor should be made using the get_htcondor tool,
## which can automatically establish IDTOKENS-based security across a multi-
## node pool.  For existing installations, we recommend you
## consider improving your security configuration.
##
## To continue to use your old security configuration, 
## comment out the 'recommended' line below, and uncomment the
## 'host_based' line.
##

# use security:host_based
use security:recommended_v9_0
