##
## Do NOT use host-based security by default.
##
## Host-based security was the default for the 8.8 series (and earlier),
## but it is intrinsically insecure.  To help make HTCondor secure by default,
## we removed host-based security from the default configuration file
## (/etc/condor/condor_config).
##
## New installations of HTCondor should be made using the get_htcondor tool,
## which can automatically establish IDTOKENS-based security across a multi-
## node pool.  For existing installations, we strongly recommend you
## consider improving your security configuration.
##
## To continue to use your old security configuration, knowing that it is
## insecure, comment out the 'recommended' line below, and uncomment the
## 'host_based' line.
##

# use security : host_based
use security : recommended_v9_0
