STARTD_ATTRS = $(STARTD_ATTRS) EC2PublicIP EC2InstanceID
TCP_FORWARDING_HOST = $(EC2PublicIP)

# Have the startd exit if unclaimed for more than fifteen minutes.  At some
# point, we'll add more cleverness, and wait until just before the end of
# the hour, since we don't spend any more money for that.
STARTD_NOCLAIM_SHUTDOWN = 900

# Have the master exit if the startd isn't around and it's been given more
# than sixty seconds to show up.  (We could avoid having a timeout if we
# were sure that START_StartTime was undefined before its first start.)
MASTER.DAEMON_SHUTDOWN_FAST = ( STARTD_StartTime == 0 ) && ((CurrentTime - DaemonStartTime) > 60)

# Shut the machine down when the master exits.
DEFAULT_MASTER_SHUTDOWN_SCRIPT = /etc/condor/master_post_script

# Encrypt the execute directory just in case.
ENCRYPT_EXECUTE_DIRECTORY = TRUE
