# This is an execute node.
DAEMON_LIST = MASTER STARTD

# EC2 public IP addresses aren't bound to local interfaces, so we need
# to set TCP_FORWARDING_HOST.  Advertise the IP address (not that we need
# to) and instance ID.
QuotedEC2PublicIP = "$(EC2PublicIP)"
STARTD_ATTRS = $(STARTD_ATTRS) QuotedEC2PublicIP EC2InstanceID
TCP_FORWARDING_HOST = $(EC2PublicIP)

# Have the master exit if the startd isn't around and it's been given more
# than sixty seconds to show up.  (We could avoid having a timeout if we
# were sure that START_StartTime was undefined before its first start.)
MASTER.DAEMON_SHUTDOWN_FAST = ( STARTD_StartTime == 0 ) && ((CurrentTime - DaemonStartTime) > 60)

# Shut the machine down when the master exits.
DEFAULT_MASTER_SHUTDOWN_SCRIPT = /etc/condor/master_shutdown_script.sh

# Encrypt the execute directory just in case.
ENCRYPT_EXECUTE_DIRECTORY = TRUE

# Isolate the temporary directories for each job.
MOUNT_UNDER_SCRATCH = /tmp,/var/tmp
