#
# You'll need to set COLLECTOR_HOST to make this file useful.
#

use security:host_based
LOCAL_HOSTS = $(FULL_HOSTNAME) $(IP_ADDRESS) 127.0.0.1 $(TCP_FORWARDING_HOST)

CONDOR_HOST = condor_pool@*/* $(LOCAL_HOSTS)
COLLECTOR_HOST =

SEC_DEFAULT_AUTHENTICATION = REQUIRED
SEC_DEFAULT_AUTHENTICATION_METHODS = FS, PASSWORD

# The password file in this configuration has an "executable" ending (see
# LOCAL_CONFIG_DIR_EXCLUDE_REGEXP) so that it can be included in the EC2
# dynamic configuration tarball (which is unpacked into $(LOCAL_CONFIG_DIR))
# without HTCondor trying (and failing) to read it as part of the config.
SEC_PASSWORD_FILE = /etc/condor/config.d/password_file.pl
ALLOW_WRITE = condor_pool@*/* $(LOCAL_HOSTS)
