
[Unit]
Description=Condor Distributed High-Throughput-Computing
After=network-online.target nslcd.service sssd.service time-sync.target remote-fs.target autofs.service
Wants=network-online.target
# Disabled until HTCondor security fixed.
# Requires=condor.socket

[Service]
EnvironmentFile=-/etc/sysconfig/condor
ExecStart=/usr/sbin/condor_master -f
Delegate=true
DelegateSubgroup=leaf
# In the future, we will use ExecStop with a synchronous condor_off
KillMode=mixed
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=1minute
WatchdogSec=20minutes
TimeoutStopSec=150seconds
NotifyAccess=main
KillSignal=SIGQUIT
# Matches values in Linux Kernel Tuning script
LimitNOFILE=32768
TasksMax=4194303

[Install]
WantedBy=multi-user.target

