<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
        "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>condor</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/condor/sbin/condor_master</string>
        <string>-f</string>
        <string>-c</string>
        <string>/usr/local/condor/etc/condor_config</string>
    </array>
    <key>KeepAlive</key>
    <dict>
        <key>NetworkState</key>
        <true/>
    </dict>
    <key>RunAtLoad</key>
        <true />
</dict>
</plist>
