
[Unit]
Description=Condor Distributed High-Throughput-Computing
After=syslog.target network-online.target nslcd.service ypbind.service
Wants=network-online.target

[Service]
EnvironmentFile=-/etc/sysconfig/condor
ExecStart=/usr/sbin/condor_master -f
ExecStop=/usr/sbin/condor_off -master
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=1minute
StandardOutput=syslog
LimitNOFILE=16384
ControlGroup=/condor

[Install]
WantedBy=multi-user.target

