Upgrading from the 9.0 series to the 9.2 series of HTCondor
===========================================================

:index:`items to be aware of<single: items to be aware of; upgrading>`

Upgrading from the 9.0 series of HTCondor to the 9.2 series will bring
new features introduced in the 8.9 series of HTCondor. These new
features include the following (note that this list contains only the
most significant changes; a full list of changes can be found in the
version history: \ `Development Release Series
8.9 <../version-history/development-release-series-89.html>`_):

-  Feature 1 :jira:`0000`
-  Feature 2

Upgrading from the 9.0 series of HTCondor to the 9.2 series will also
introduce changes that administrators and users of sites running from an
older HTCondor version should be aware of when planning an upgrade. Here
is a list of items that administrators should be aware of.

- The semantics of undefined user job policy expressions has changed.  A
  policy whose expression evaluates to undefined is now uniformly ignored,
  instead of either putting the job on hold or treated as false.
  :jira:`442`

-  Item 1 :jira:`0000`
-  Item 2
