Version 23.X.0
--------------

Release Notes:

.. HTCondor version 23.X.0 released on Month Date, 2024.

- HTCondor version 23.X.0 not yet released.

- This version includes all the updates from :ref:`lts-version-history-230x`.

New Features:

- None.

Bugs Fixed:

- None.

