Version 24.X.0
--------------

Release Notes:

.. HTCondor version 24.X.0 released on Month Date, 2024.

- HTCondor version 24.X.0 not yet released.

- This version includes all the updates from :ref:`lts-version-history-240X`.

New Features:

- None.

Bugs Fixed:

- None.

