Version 24.X.1
--------------

Release Notes:

.. HTCondor version 24.X.1 released on Month Date, 2025.

- HTCondor version 24.0.X planned release date is Month Date, 2025.

- This version includes all the updates from :ref:`lts-version-history-240X`.

New Features:

- None.

Bugs Fixed:

- None.

