body { font-family: Sans-Serif; font-size: 11px; }
a:link { color: #1C3F75; }

.passed {
   background-color: #55ff55;
}
.failed {
   background-color: #ff5555;
}
.pending {
  background-color: #FFE34D;
}
.noresults {
   background-color: #aaaaaa;
}

td {
    text-align:center;
}

td.left {
    text-align:left;
}

td.taskname {
    font-size: 75%;
}

.build {
    border-left-width: 1px;
    border-left-color: black;
    width: 25px;
}
.test {
    border-right-width: 1px;
    border-right-color: black;
    width: 25px;
}

.daybreak {
    border-top-color: black;
    border-top-width: 3px;
}

div.top {
    width:100%;
    text-align: center;
    border: none;
    height: 40px;
}

div.menu {
    background-color:#DDDDDD;
    width:200px;
    float:left;
    text-align:center;
    border: 2px solid rgb(0, 0, 0);
    cursor:pointer;
}

div.menu:hover {
    background-color: #AAAAAA;
}


.passed {
   background-color: #55ff55;
}
.failed {
   background-color: #ff5555;
}
.pending {
   background-color: #ffff55;
}
.noresults {
   background-color: #aaaaaa;
}

.details {
   font-size: 10px;
}
.detail_url {
   font-weight: bold;
}
.title {
   color: black;
}

/* For nmi-status */

table {
    border-collapse: collapse;
    padding: 0px;
    border: 1px solid grey;
}
td {
    border: 1px solid grey;
}


span.link {
    position: relative;
    font-size: 75%;
}

span.link a span {
    display: none;
    text-decoration: none;
}

span.link a:hover {
    font-size: 99%;
    color: #000000;
}

span.link a:hover span {
    display: block;
    position: absolute;
    margin-top: 10px;
    margin-left: -10px;
    padding: 5px;
    z-index: 100;
    color: #000000;
    background: #FFFFAA;
    font: 12px "Arial", sans-serif;
    text-align: left;
    text-decoration: none;
}

/* For loading animation */
#loading { 
    display:none;
    position:fixed;
    left:0;
    top:40px;
    width:100%;
    height:100%; 
    z-index: 100;
}

/* Page layout */
#wrap {
    margin: 0 auto;
}

#main {
    float:left;
}

#footer {
    clear:both;
    background: #ffffff;
}
