blinker==1.9.0
click==8.3.0
filelock==3.20.3
Flask==3.1.2
gunicorn==23.0.0
htcondor==24.0.13
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
numpy==1.26.4
packaging==25.0
pandas==2.0.3
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
tzdata==2025.2
Werkzeug==3.1.3
