#!/usr/bin/make -f

%:
	dh $@ --with python3

override_dh_auto_clean:
	rm -f build.xml
	dh_auto_clean

override_dh_auto_configure:
	./bootstrap
	CPPFLAGS="-I/usr/include/classad -std=c++11 -fcommon" \
	LDFLAGS="-lclassad" \
	./configure --prefix=/usr --sysconfdir=/etc --with-classads-prefix=/usr --without-globus --with-glite-location=/usr --with-manpage-stylesheet=/usr/share/xml/docbook/stylesheet/docbook-xsl/manpages/docbook.xsl

override_dh_auto_install:
	dh_auto_install
	rm -rf debian/blahp/etc/rc.d
	mkdir --mode 0755 blahp
	mv debian/blahp/usr/libexec/* blahp
	mv blahp debian/blahp/usr/libexec
	mv debian/blahp/etc/blah.config.template debian/blahp/etc/blah.config
	mv debian/blahp/etc/blparser.conf.template debian/blahp/etc/blparser.conf
	echo "blah_libexec_directory=/usr/libexec/blahp" >> debian/blahp/etc/blah.config
	mkdir --mode 0755 debian/blahp/etc/blahp
	for batch_system in condor kubernetes lsf nqs pbs sge slurm; do \
		mv debian/blahp/usr/libexec/blahp/$${batch_system}_local_submit_attributes.sh debian/blahp/etc/blahp/; \
		ln -s /etc/blahp/$${batch_system}_local_submit_attributes.sh \
			debian/blahp/usr/libexec/blahp/$${batch_system}_local_submit_attributes.sh; \
		done
		mv debian/blahp/usr/share/doc/glite-ce-blahp-@PVER@ debian/blahp/usr/share/doc/blahp
