a.macro {
	font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",Courier,monospace;
	font-size: 90%;
}

table th p {
	margin-bottom: 0px;
}

table.indextable {
	margin-bottom: 20px;
}

table.indextable li {
	max-width: 350px;
	margin-left: 10px;
	word-wrap: break-word;
}

.rst-content dl:not(.docutils) dt {
	display: table-cell;
}

div.wy-side-nav-search {
	background-color: #d312456e;
}

div.wy-side-nav-search a.icon.icon-home:before {
	content: url(../logo.svg);
	width: 25px;
	height: 15px;
}

/* override table width restrictions */
@media screen and (min-width: 767px) {

	.wy-table-responsive table td {
	   /* !important prevents the common CSS stylesheets from overriding
		  this as on RTD they are loaded after this stylesheet */
	   white-space: normal !important;
	}
 
	.wy-table-responsive {
	   overflow: visible !important;
	}
	.wy-nav-content {
	    max-width: 95%;
	}
 }
