;++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
; ProductName = Condor for Windows
; DESCRIPTION = Distributed Computing 
; Licence     = license.rtf
; Installed   = WINDOWS_ALL
