# Change this to the schedd's name ("condor_status -f %s Name") 
remote_schedd = user@machine
remote_pool = machine:9999
universe = grid 
grid_type = condor 
executable = job_condorc_xxx_van.sh
transfer_input_files=job_condorc_xxx_van.in
transfer_output_files=outfile1
output = job_condorc_ab_van.out
error = job_condorc_ab_van.err
log = job_condorc_ab_van.log
should_transfer_files=yes
when_to_transfer_output=on_exit
+Remote_JobUniverse = 5
+Remote_requirements = TRUE
queue
