universe   = parallel
+WantIOProxy = true
executable = job_core_chirp_par_executable.exe
output = job_core_chirp_par$(NODE).out
error = job_core_chirp_par$(NODE).err
log = job_core_chirp_par$(NODE).log
arguments = $(NODE)
should_transfer_files = YES
when_to_transfer_output = ON_EXIT_OR_EVICT
Notification = NEVER
machine_count = 3
queue

