universe = grid
grid_resource = deltacloud http://localhost:xxxxxx/api
executable = job_deltacloud_basic
deltacloud_username = mockuser
deltacloud_password_file = job_deltacloud_basic.priv
deltacloud_image_id = img1
deltacloud_realm_id = us
deltacloud_hardware_profile = m1-large
log = job_deltacloud_basic.log
notification = NEVER
periodic_remove = time() - EnteredCurrentStatus > 360
queue
