# Change this to the schedd's name ("condor_status -f %s Name") 
grid_resource = condor user@machine machine:9999
universe = grid 
grid_type = condor 
executable = job_condorc_xxx_van.pl
transfer_input_files=job_condorc_xxx_van.in
transfer_output_files=outfile1
output = job_condorc_abc_van.out
error = job_condorc_abc_van.err
log = job_condorc_abc_van.log
should_transfer_files=yes
when_to_transfer_output=on_exit
notification = never
# Bside
+Remote_JobUniverse = 9
+Remote_GridResource = "condor user@machine machine:9999"
# Cside
+Remote_Remote_JobUniverse = 5
+Remote_Remote_requirements = TRUE

queue
