universe   = parallel
+WantIOProxy = true
executable = job_core_chirp_par.exe
output = job_core_chirp_par$(NODE).out
error = job_core_chirp_par$(NODE).err
log = job_core_chirp_par$(NODE).log
arguments = $(NODE)
Notification = NEVER
machine_count = 3
queue

