#DAGMAN_DEFAULT_NODE_LOG = job_dagman_default_log.test_node_log
#DAGMAN_DEFAULT_NODE_LOG = @(DAG_DIR)/job_dagman_default_log.test_node_log
#DAGMAN_DEFAULT_NODE_LOG = $(LOCAL_DIR)/log/@(DAG_FILE).@(CLUSTER).test_node_log
#DAGMAN_DEFAULT_NODE_LOG = $(LOCAL_DIR)/log/foo.test_node_log
#DAGMAN_DEFAULT_NODE_LOG = $(SPOOL)/@(DAG_FILE).test_node_log
