COLLECTOR_ARGS =
HAD_ARGS =
REPLICATION_ARGS =
NEGOTIATOR_ARGS =
SCHEDD_ARGS =
STARTD_ARGS =
HAD_LIST =
REPLICATION_LIST =
MASTER_NAME =
STARTD_NAME =
HAD_USE_REPLICATION =false
HAD_CONNECTION_TIMEOUT =2
HAD_USE_PRIMARY =true
MAX_HAD_LOG =6400000
HAD_DEBUG =D_FAILURE
HAD_LOG =$(LOG)/HADLog.$(HOSTNAME)
MASTER_NEGOTIATOR_CONTROLLER =HAD
DAEMON_LIST =COLLECTOR, MASTER, NEGOTIATOR, SCHEDD, STARTD, HAD
DC_DAEMON_LIST =MASTER, STARTD, SCHEDD, KBDD, COLLECTOR, NEGOTIATOR, EVENTD, VIEW_SERVER, CONDOR_VIEW, VIEW_COLLECTOR, HAWKEYE, HAD
HAD =$(SBIN)/condor_had
ALLOW_ADMINISTRATOR =$(COLLECTOR_HOST)
ALLOW_NEGOTIATOR =$(COLLECTOR_HOST)
ALLOW_NEGOTIATOR_SCHEDD =$(COLLECTOR_HOST)
