# Startd hooks
TEST_FETCH_HOOK_FETCH_WORK = xxxxxx/job_fetch.pl
TEST_FETCH_HOOK_REPLY_FETCH = xxxxxx/reply.pl
TEST_FETCH_HOOK_EVICT_CLAIM = xxxxxx/job_evict.pl

# Starter hooks
TEST_FETCH_HOOK_PREPARE_JOB = xxxxxx/prepare.pl
TEST_FETCH_HOOK_UPDATE_JOB_INFO = xxxxxx/update_job_info.pl
TEST_FETCH_HOOK_JOB_EXIT = xxxxxx/job_exit.pl

SLOT1_JOB_HOOK_KEYWORD = TEST_FETCH
STARTD_JOB_HOOK_KEYWORD = TEST_FETCH
STARTER_JOB_HOOK_KEYWORD = TEST_FETCH

FetchWorkDelay = 10

NUM_CPUS = 2
