universe = vanilla
type = jobs

ports = dynamic
condor = nightlies
localpostsrc = x_condorc_locconfigpostsrc
daemon_list = master,schedd,startd
nameschedd = scheddone
collector = xxxxxxxxxxxxxxxx
slots	= 4
