universe = vanilla
type = jobs

ports = dynamic
condor = nightlies
secprepostsrc = x_secneg_ANY
localpostsrc = x_secctb_allowdeny_configpostsrc
daemon_list = master,schedd,collector,startd,negotiator
vms	= 1
