universe = vanilla
type = jobs

ports = dynamic
condor = nightlies
condorconfig = condor_config
condorlocal = condor_config.local
localpostsrc = x_condorc_locconfigpostsrc
condordaemons = master,schedd,startd
nameschedd = scheddone
collector = xxxxxxxxxxxxxxxx
slots	= 4
