QUILL_ENABLED           = TRUE
#QUILL_NAME              = $(CONDOR_HOST)
QUILL_NAME              = quill

QUILL_DB_NAME           = test
QUILL_DB_USER 			= quillwriter
QUILL_DB_QUERY_PASSWORD = condor4me#
QUILL_DB_IP_ADDR        = $(CONDOR_HOST):5432
QUILL_DB_TYPE 			= PGSQL

# the following parameter's units is in seconds
QUILL_POLLING_PERIOD    = 10
# the following parameter's units is in hours
QUILL_HISTORY_CLEANING_INTERVAL = 24
# the following parameter's units is in days
QUILL_HISTORY_DURATION 	= 30
QUILL_MANAGE_VACUUM = FALSE
QUILL_IS_REMOTELY_QUERYABLE = TRUE
QUILL_ADDRESS_FILE      = $(LOG)/.quill_address

SCHEDD_SQLLOG = $(LOG)/schedd_sql.log
#DBMSD = $(SBIN)/condor_dbmsd_wrapper
#QUILL = $(SBIN)/condor_quillpp_wrapper
DBMSD = $(SBIN)/condor_dbmsd
DBMSD_ARGS = -f
QUILL = $(SBIN)/condor_quill
QUILL_USE_SQL_LOG=false
SCHEDD.QUILL_USE_SQL_LOG = TRUE
QUILL_NOT_RESPONDING_TIMEOUT = 9000

#Dbmsd Params
DATABASE_PURGE_INTERVAL = 86400
DATABASE_REINDEX_INTERVAL = 86400
QUILL_RESOURCE_HISTORY_DURATION = 7
QUILL_RUN_HISTORY_DURATION = 7
QUILL_JOB_HISTORY_DURATION = 7
QUILL_DBSIZE_LIMIT = 20
DBMSD_NOT_RESPONDING_TIMEOUT = 9000

SCHEDD_DAEMON_AD_FILE = $(LOG)/.schedd_classad




ALL_DEBUG = D_FULLDEBUG
