TOOL_DEBUG = D_ALL
#ALL_DEBUG = D_SECURITY, D_FULLDEBUG
ALL_DEBUG = D_ALL
SEC_DEBUG_PRINT_KEYS = TRUE

SEC_DEFAULT_AUTHENTICATION = REQUIRED
SEC_CLIENT_AUTHENTICATION = REQUIRED
SEC_DEFAULT_AUTHENTICATION_METHODS = SSL

AUTH_SSL_SERVER_CAFILE =  XXXXX/ssl_keys/ca-cert.pem
#AUTH_SSL_SERVER_CADIR =  XXXXX/ssl_keys/cadir
AUTH_SSL_SERVER_CERTFILE = XXXXX/ssl_keys/user.cert
AUTH_SSL_SERVER_KEYFILE = XXXXX/ssl_keys/user.key

AUTH_SSL_CLIENT_CAFILE =  XXXXX/ssl_keys/ca-cert.pem
#AUTH_SSL_CLIENT_CADIR =  XXXXX/ssl_keys/cadir
AUTH_SSL_CLIENT_CERTFILE = XXXXX/ssl_keys/user.cert
AUTH_SSL_CLIENT_KEYFILE = XXXXX/ssl_keys/user.key
SSL_SKIP_HOST_CHECK = true

CERTIFICATE_MAPFILE = XXXXX/ssl_keys/condor_mapfile
