TOOL_DEBUG = D_ALL
#ALL_DEBUG = D_SECURITY, D_FULLDEBUG
ALL_DEBUG = D_ALL
SEC_DEBUG_PRINT_KEYS = TRUE

SEC_DEFAULT_AUTHENTICATION = REQUIRED
SEC_CLIENT_AUTHENTICATION = REQUIRED
SEC_DEFAULT_AUTHENTICATION_METHODS = GSI

X509_USER_PROXY = XXXXX/gsi_keys/hostproxycert
X509_CERT_DIR = XXXXX/gsi_keys/certificates
GRIDMAP = XXXXX/gsi_keys/mapfiles/grid-mapfile

GSI_DAEMON_CERT =  XXXXX/gsi_keys/hostcert.pem
GSI_DAEMON_KEY =  XXXXX/gsi_keys/hostkey.pem
GSI_DAEMON_TRUSTED_CA_DIR =  XXXXX/gsi_keys/certificates
GSI_DAEMON_DIRECTORY =  XXXXX/gsi_keys
#GSI_DAEMON_NAME = /C=US/O=Condor/O=University of Wisconsin/OU=Computer Sciences Department/CN=condor@cs.wisc.edu
GSI_DAEMON_NAME = /C=US/ST=Wisconsin/L=Madison/O=UWCS/CN=BT/emailAddress=bt@cs.wisc.edu

