.*.swp
*.bak
ref.aux
ref.idx
ref.ilg
ref.ind
ref.log
ref.out
ref.pdf
ref.toc
admin-man/pool-arch.eps
figuresizing.tex
fontsize.tex
local.html
ref-master/
ref-v701/
ref-v702/
ref-v710/
ref.dvi
symbol.tex
timesfont.tex
user-man/dagman-diamond.eps
user-man/dagman-node.eps
