
## Configuration for Scitokens server
SCITOKENS_CLIENT_ID = __CLIENT_ID__
SCITOKENS_CLIENT_SECRET_FILE = /etc/condor/.secrets/scitokens
SCITOKENS_RETURN_URL_SUFFIX = __RETURN_URL_SUFFIX__
SCITOKENS_AUTHORIZATION_URL = __AUTHORIZATION_URL__
SCITOKENS_TOKEN_URL = __TOKEN_URL__
SCITOKENS_USER_URL = __USER_URL__
