SNAKED              = $(SBIN)/condor_snaked
DC_DAEMON_LIST      = +SNAKED


CBS                 = $(SNAKED)
CBS_ARGS            = -genus CBS
CBS_ADDRESS_FILE    = $(LOG)/.cbs_address
CBS_LOG             = $(LOG)/CBSLog
CBS_SNAKE_PATH      = $(LIB)/python3:$(LOCAL_DIR)/../../source/src/snakes.d/CBS

CBS_SNAKE_COMMAND_TABLE @=end
@end
CBS_SNAKE_POLLING   = polling_handler SIGUSR1


CBS_DEBUG           = D_PID D_CATEGORY D_SUBSECOND D_FULLDEBUG
DAEMON_LIST         = $(DAEMON_LIST) CBS
