#!/usr/bin/make -f

srcpkg = $(shell LC_ALL=C dpkg-parsechangelog | grep '^Source:' | cut -d ' ' -f 2,2)
upstreamver = $(shell LC_ALL=C dpkg-parsechangelog | grep '^Version:' | cut -d ' ' -f 2,2 | cut -d '-' -f 1,1 )

# one ring to rule them all ...
%:
	dh $@


override_dh_auto_configure:
	dh_auto_configure -- \
		-DBUILD_SHARED_LIBS:BOOL=ON \
		-DBUILD_TESTS:BOOL=OFF \
		-DPROPER:BOOL=ON \
		-DCLIPPED:BOOL=ON \
		-DWANT_CONTRIB:BOOL=ON \
		-DUW_BUILD:BOOL=OFF \
		-D_DEBUG:BOOL=TRUE \
		-DBUILDID:STRING=Debian \
		-DWITH_GSOAP:BOOL=OFF \
		-DCMAKE_SKIP_BUILD_RPATH:BOOL=ON \
		-DCMAKE_INSTALL_RPATH:STRING="/usr/lib/condor" \
		-DEXTERNAL_INCLUDES:STRING="/usr/include/postgresql" \
		-DHAVE_EXT_CLASSADS:BOLL=ON -DCLASSADS_FOUND=classad_ns \
		-DHAVE_EXT_CURL:BOOL=ON \
		-DHAVE_EXT_OPENSSL:BOOL=ON \
		-DHAVE_EXT_POSTGRESQL:BOOL=ON \
		-DHAVE_EXT_BOOST:BOOL=ON \
		-DHAVE_EXT_GLOBUS:BOOL=ON \
		-DHAVE_EXT_KRB5:BOOL=ON \
		-DHAVE_EXT_LIBVIRT:BOOL=ON \
		-DHAVE_EXT_LIBXML2:BOOL=ON \
		-DHAVE_EXT_OPENSSL:BOOL=ON \
		-DHAVE_EXT_PCRE:BOOL=ON \
		-DHAVE_EXT_ZLIB:BOOL=ON


override_dh_auto_build: doc/build
	dh_auto_build
	# post-fixing things that have to be done due to changes introduced by
	# repackaging
	# 1. rebuild java stuff
	cd src/condor_starter.V6.1 && javac *.java
	cp src/condor_chirp/*.java src/condor_chirp/chirp/java/client/
	$(MAKE) -C src/condor_chirp/chirp/java/client/
	cp src/condor_chirp/chirp/java/client/Chirp.jar src/condor_chirp/


doc/build:
	mkdir -p $@
	$(MAKE) -C doc/doc release-pdf MANDIR=$(CURDIR)/$@/pdf \
		TARGETDIR=$(CURDIR)/$@/pdf
	cd doc/doc && latex2html -address condor-admin@cs.wisc.edu -split 4 \
		-link 2 -show_section_numbers -antialias -tmp /tmp -long_titles 3 \
		-toc_depth 2 -local_icons ref.tex
	cp -r doc/doc/ref $@/html
	$(MAKE) -C doc/doc/makeman makeman
	for html in $@/html/condor_*.html; do \
		doc/doc/makeman/makeman -v -i $$html -s 1; \
	done
	mkdir -p $@/man
	# sanitize and copy
	for man in $@/html/condor_*.1; do \
		sed -r -e 's,$@/html/,,' -e "s/1 date$$/1 \"$$(date +'%B %Y')\"/" \
			   -e '/\.SH Name/{ n; n; s/\W/ \\- /; }' -e 's/ (\.[A-Z])/\1/' \
			   -e 's/^\s//' < $$man > $@/man/$$(basename $$man) ; \
	done
	rm $@/html/condor_*.1


override_dh_auto_install:
	dh_auto_install
	# fix various bits -- upstream should do that
	chmod -x debian/tmp/usr/etc/sysconfig/condor
	chmod -x debian/tmp/usr/lib/*.pm
	# things we do not need in Debian
	rm debian/tmp/usr/sbin/condor_install* \
		debian/tmp/usr/sbin/condor_cleanup* \
		debian/tmp/usr/sbin/install_release \
		debian/tmp/usr/sbin/cleanup_release


override_dh_auto_clean:
	dh_auto_clean
	# clean up our own mess
	-find $(CURDIR) -name '*.class' -delete -o -name '*.jar' -delete
	-rm src/condor_chirp/chirp/java/client/*.java
	# clean leftovers of upstream clean run
	-rm src/condor_tests/list*
	-rm src/condor_examples/condor.boot.debian \
		src/condor_examples/condor_config.patched
	-rm src/condor_tests/Condor.pm src/condor_tests/CondorPersonal.pm \
		src/condor_tests/CondorTest.pm src/condor_tests/CondorUtils.pm \
		src/condor_tests/batch_test.pl
	-rm src/condor_utils/param_info.c
	# docs
	$(MAKE) -C doc/doc clean
	-rm -rf doc/doc/just-man-pages
	-rm -rf doc/build


# PDF come in dedicated doc package -- no compression
override_dh_compress:
	dh_compress -X.pdf


dfsg-source-tree:
	-quilt pop -a
	@echo "Testing for uncommited changes"
	@git diff --quiet HEAD
# remove all java binaries
# and other stuff that will be deleted during clean runs anyway
	find $(CURDIR) -regextype posix-egrep -regex '.*(\.(jar|class|pdf)|TAGS)' -print0 \
		| xargs -0 -i git rm -f --ignore-unmatch -- {} || true
# commit any cleanup results
	@if ! git diff --quiet HEAD; then \
		git commit -e -a -m "Remove unwanted (e.g. non-DFSG) compliant content"; \
	fi


# make orig tarball from repository content
get-orig-source: dfsg-source-tree
	# orig tarball, turn directory into something nicer
	git archive --format=tar --prefix=$(srcpkg)-$(upstreamver)/ HEAD | \
		gzip -9 > $(srcpkg)_$(upstreamver).orig.tar.gz
	git archive --format=tar --prefix=$(srcpkg)-doc-$(upstreamver)/ \
				--remote=doc/ HEAD | \
		gzip -9 > $(srcpkg)_$(upstreamver).orig-doc.tar.gz
