XCOMM **************************************************************
XCOMM 
XCOMM  Copyright (C) 1990-2007, Condor Team, Computer Sciences Department,
XCOMM  University of Wisconsin-Madison, WI.
XCOMM  
XCOMM  Licensed under the Apache License, Version 2.0 (the "License"); you
XCOMM  may not use this file except in compliance with the License.  You may
XCOMM  obtain a copy of the License at
XCOMM  
XCOMM     http://www.apache.org/licenses/LICENSE-2.0
XCOMM  
XCOMM  Unless required by applicable law or agreed to in writing, software
XCOMM  distributed under the License is distributed on an "AS IS" BASIS,
XCOMM  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
XCOMM  See the License for the specific language governing permissions and
XCOMM  limitations under the License.
XCOMM 
XCOMM **************************************************************

#include <Global.h>
#include "config.h"
#include <configure.cf>

#include <site.info>
#include <site.def>

#include <externals.cf>
#include <Project.tmpl>
#include <Imake.rules>
#include INCLUDE_IMAKEFILE

ALWAYS:

r: release

