#define CMNT #
CMNT 
CMNT Copyright 1986, 1987, 1988, 1989, 1990, 1991 by the Condor Design Team
CMNT 
CMNT Permission to use, copy, modify, and distribute this software and its
CMNT documentation for any purpose and without fee is hereby granted,
CMNT provided that the above copyright notice appear in all copies and that
CMNT both that copyright notice and this permission notice appear in
CMNT supporting documentation, and that the names of the University of
CMNT Wisconsin and the Condor Design Team not be used in advertising or
CMNT publicity pertaining to distribution of the software without specific,
CMNT written prior permission.  The University of Wisconsin and the Condor
CMNT Design Team make no representations about the suitability of this
CMNT software for any purpose.  It is provided "as is" without express
CMNT or implied warranty.
CMNT 
CMNT THE UNIVERSITY OF WISCONSIN AND THE CONDOR DESIGN TEAM DISCLAIM ALL
CMNT WARRANTIES WITH REGARD TO THIS SOFTWARE, INCLUDING ALL IMPLIED WARRANTIES
CMNT OF MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE UNIVERSITY OF
CMNT WISCONSIN OR THE CONDOR DESIGN TEAM BE LIABLE FOR ANY SPECIAL, INDIRECT
CMNT OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM LOSS
CMNT OF USE, DATA OR PROFITS, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE
CMNT OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE
CMNT OR PERFORMANCE OF THIS SOFTWARE.
CMNT

#include <Global.h>
#include <configure.cf>
#include <Platform.select>

#define BeforeVendorCF
#include <site.def>
#undef BeforeVendorCF

#include PlatformIncludeFile

CMNT
CMNT This Makefile is generated specifically for Platform machines.
CMNT

#define AfterVendorCF
#include <site.def>
#undef AfterVendorCF

#include <externals.cf>
#include <Project.tmpl>
#include <Imake.rules>
#include INCLUDE_IMAKEFILE

ALWAYS:

r: release

