XCOMM 
XCOMM Copyright 1986, 1987, 1988, 1989, 1990, 1991 by the Condor Design Team
XCOMM 
XCOMM Permission to use, copy, modify, and distribute this software and its
XCOMM documentation for any purpose and without fee is hereby granted,
XCOMM provided that the above copyright notice appear in all copies and that
XCOMM both that copyright notice and this permission notice appear in
XCOMM supporting documentation, and that the names of the University of
XCOMM Wisconsin and the Condor Design Team not be used in advertising or
XCOMM publicity pertaining to distribution of the software without specific,
XCOMM written prior permission.  The University of Wisconsin and the Condor
XCOMM Design Team make no representations about the suitability of this
XCOMM software for any purpose.  It is provided "as is" without express
XCOMM or implied warranty.
XCOMM 
XCOMM THE UNIVERSITY OF WISCONSIN AND THE CONDOR DESIGN TEAM DISCLAIM ALL
XCOMM WARRANTIES WITH REGARD TO THIS SOFTWARE, INCLUDING ALL IMPLIED WARRANTIES
XCOMM OF MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE UNIVERSITY OF
XCOMM WISCONSIN OR THE CONDOR DESIGN TEAM BE LIABLE FOR ANY SPECIAL, INDIRECT
XCOMM OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM LOSS
XCOMM OF USE, DATA OR PROFITS, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE
XCOMM OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE
XCOMM OR PERFORMANCE OF THIS SOFTWARE.
XCOMM

#include <Global.h>
#include <configure.cf>
#include <Platform.select>

#define BeforeVendorCF
#include <site.def>
#undef BeforeVendorCF

#include PlatformIncludeFile

XCOMM
XCOMM This Makefile is generated specifically for Platform machines.
XCOMM

#define AfterVendorCF
#include <site.def>
#undef AfterVendorCF

#include <externals.cf>
#include <Project.tmpl>
#include <Imake.rules>
#include INCLUDE_IMAKEFILE

ALWAYS:

r: release

