/* ========================================================== *
 *                  STORK CONFIGURATION FILE                  *
 * The values in this file will overwrite the values of some  *
 * global Stork parameters.                                   *   
 * ========================================================== */

[ //do not delete this line

    max_num_jobs = 5; 
    max_retry = 20;
    maxdelay_inminutes = 5;

    dap_catalog = "/scratch.1/ckireyev/trunk/build/src/condor_data_manager";
    disk_command = "/p/condor/workspaces/kosart/disk_command-starlight";
    globus_bin_dir = "/unsup/globus-2.0-latest/bin";
    srb_util_dir = "/unsup/srb-1.1.8/utilities/bin";    
    fnalsrm_bin_dir = "/scratch/kosart/srm";
    lbnlsrm_bin_dir = "/unsup/srm-1.1/FNAL/bin";
    msscmd_bin_dir = "/p/condor/workspaces/kosart/stork_experiments/sdss-srb-unitree-pipeline";

] //do not delete this line
