#define SEND_PATH(name) in code(name)
#define GET_PATH(name) out code(name)
#define ALLOC_PATH(name) alloc(name,_POSIX_PATH_MAX)

int InitializeConnection( char *owner, char *tmp_file ) {
	SEND_PATH( owner );
	ALLOC_PATH( owner );
	GET_PATH( tmp_file );
	ALLOC_PATH( tmp_file );
}
int NewCluster();
int NewProc(int cluster_id);
int DestroyProc(int cluster_id, int proc_id);
int DestroyCluster(int cluster_id);
int DestroyClusterByConstraint(char* constraint)
{
	SEND_PATH(constraint);
	ALLOC_PATH(constraint);
}
int SetAttribute(int cluster_id, int proc_id, char *attr_name, 
				 char *attr_value) {
	SEND_PATH( attr_name );
	ALLOC_PATH( attr_name );
	SEND_PATH( attr_value );
	ALLOC_PATH( attr_value );
}
int CloseConnection();

int GetAttributeFloat(int cluster_id, int proc_id, char *attr_name, 
					  float *value)
{
	SEND_PATH( attr_name );
	ALLOC_PATH( attr_name );
	out code(value);
	alloc(value, FLOAT_SIZE);
}


int GetAttributeInt(int cluster_id, int proc_id, char *attr_name, 
					int *value)
{
	SEND_PATH( attr_name );
	ALLOC_PATH( attr_name );
	out code(value);
	alloc(value, INT_SIZE);
}


int GetAttributeString(int cluster_id, int proc_id, char *attr_name, 
					   char *value)
{
	SEND_PATH( attr_name );
	ALLOC_PATH( attr_name );
	GET_PATH( value );
	ALLOC_PATH( value );
}


int GetAttributeExpr(int cluster_id, int proc_id, char *attr_name, 
					 char *value)
{
	SEND_PATH( attr_name );
	ALLOC_PATH( attr_name );
	GET_PATH( value );
	ALLOC_PATH( value );
}


int DeleteAttribute(int cluster_id, int proc_id, char *attr_name)
{
	SEND_PATH(attr_name);
	ALLOC_PATH(attr_name);
}


int GetJobAd(int cluster_id, int proc_id, ClassAd *&ad)
{
	out code(ad);
}


int GetJobByConstraint(char *constraint, ClassAd *&ad)
{
	SEND_PATH(constraint);
	ALLOC_PATH(constraint);
	out code(ad);
}


int GetNextJob(ClassAd *&ad, int initScan)
{
	out code(ad);
}

int GetNextJobByConstraint(char *constraint, ClassAd *&ad, int initScan)
{
	SEND_PATH(constraint);
	ALLOC_PATH(constraint);
	out code(ad);
}

int SendSpoolFile(char *filename)
{
	SEND_PATH( filename );
	ALLOC_PATH( filename );
}
