SNAKED              = $(SBIN)/condor_snaked
DC_DAEMON_LIST      = +SNAKED


CHARMER                 = $(SNAKED)
CHARMER_ARGS            = -genus CHARMER
CHARMER_ADDRESS_FILE    = $(LOG)/.charmer_address
CHARMER_LOG             = $(LOG)/CharmerLog
CHARMER_SNAKE_PATH      = $(LIB)/python3:$(ETC)/snake.d/CHARMER

# One space, Vasili, and one space only.
CHARMER_SNAKE_COMMAND_TABLE @=end
QUERY_STARTD_ADS READ handleQueryCommand
QUERY_SCHEDD_ADS READ handleQueryCommand
QUERY_MASTER_ADS READ handleQueryCommand
INVALIDATE_STARTD_ADS ADVERTISE_STARTD handleInvalidateCommand
INVALIDATE_SCHEDD_ADS ADVERTISE_SCHEDD handleInvalidateCommand
INVALIDATE_MASTER_ADS ADVERTISE_MASTER handleInvalidateCommand
UPDATE_STARTD_AD ADVERTISE_STARTD handleUpdateCommand
UPDATE_SCHEDD_AD ADVERTISE_SCHEDD handleUpdateCommand
UPDATE_MASTER_AD ADVERTISE_MASTER handleUpdateCommand
@end


CHARMER_DEBUG           = D_PID D_CATEGORY D_SUBSECOND D_FULLDEBUG
DAEMON_LIST             = $(DAEMON_LIST), CHARMER
