body { font-family: Sans-Serif; font-size: 11px; }
a:link { color: #1C3F75; }
.passed {
   background-color: #55ff55;
}
.failed {
   background-color: #ff5555;
}
.pending {
   background-color: #ffff55;
}
.details {
   font-size: 10px;
}
.detail_url {
   font-weight: bold;
}
.title {
   color: black;
}
TABLE {
	border-collapse: collapse;
	cellspacing: 0;
	cellpadding: 0;
	border: 1px solid grey;
}
TD {
	border: 1px solid grey;
}
