{% extends "base.html.j2" %}

{% block style %}
    <style>
        .graph .vizchart {
            height: 25vh;
        }
    </style>
{% endblock style %}

{% block body %}

    <div class="container-fluid">

        {% set graphs = [ 'Cpus', 'Memory', 'Gpus', 'Disk', 'Bcus' ] %}

        {% for resource in graphs %}
            {% set column = get_column(resource) %}
            {% set vaxis = get_vaxis(resource) %}
            <div class="row mb-3"></div>
                <div class="col" id="{{ resource }}-contributed">
                    <script>
                        {% if loop.first %}
                        new HTCondorViewRanged({
                            reload_page: true,
                        {% else %}
                        new HTCondorView({
                        {% endif %}
                            dst_id: "{{ resource }}-contributed",
                            title: "{{ resource }} Usage Past {{time_range | capitalize}}",
                            data_url: "/data/ce_overview?r={{time_range}}",
                            graph_query: "filter=Type=R&q={{ column }}&order=Date&pivot=Date;Project;{{ resource }}&legend.position=top&add={{ resource }}Allocated,{{ resource }}Unallocated,{{ resource }}Contributed&unselect={{ resource }}Unallocated&series.0.areaOpacity=1&series.1.areaOpacity=0.05&vAxis.format=short&chart=area&chartArea.left=10%25&chartArea.right=5%25&titleTextStyle.fontSize=16&vAxis.title={{ vaxis }}&vAxis.format=short",
                            help_url: "Details|/allocated_graph_{{ resource }}.html?r={{time_range}}&host={{ host }}",
                        });
                    </script>
                </div>
            </div>
        {% endfor %}



    </div>

{% endblock body %}
