{% extends "base.html" %}

{% block style %}
{% endblock style %}

{% block body %}

<div class="container-fluid">

<div class="row">
    <div class="col">
        <p class="text-muted">CE data last updated: {{ ce_info_mtime }}</p>
    </div>
</div>
<div class="row">
</div>
<div class="row">
    <div class="col" id="ce-table">
        <script>
            new HTCondorView({
                dst_id: "ce-table",
				data_url: "/data/ce_landing",
				graph_query: urlEscapeGraphQuery(`
				  group=facility_name,name,hosted,active,glideinsRunning,epsReporting,cpusContributed,cpusAllocated,lastHeardFrom;
				  filter=hosted=1
				  filter=active=1
				  unselect=hosted,active
				  order=facility_name,name
				  intensify=health
				  rename=facility_name=institution
				  rename=glideinsRunning=Glideins
				  rename=epsReporting=EPs
				  rename=cpusContributed=CPU Contrib
				  rename=cpusAllocated=CPU Alloc

				  rename=lastHeardFrom=Last Heard From
				`)
            });
        </script>
    </div>
</div>


</div>

{% endblock body %}
