Source:  glite-ce-blahp
Section:  net
Priority:  optional
Maintainer:  CREAM group <cream-support@lists.infn.it>
Build-Depends: debhelper (>= 8.0.0~), libtool, libclassad-dev, docbook-xsl, xsltproc
Standards-Version:  3.9.1
Homepage: http://glite.cern.ch/

Package: glite-ce-blahp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Utilities for accessing Local Resources Management Systems
 The BLAHP daemon is a light component accepting commands to manage jobs on different Local Resources Management Systems


