#!/usr/bin/make -f
export DH_COMPAT=7
#export DH_VERBOSE=1

INSTALLDIR=$(CURDIR)/debian/tmp

build-stamp:
	touch build-stamp
	
build:build-stamp
ifndef extbuilddir
	./configure --prefix=$(INSTALLDIR)/usr --sysconfdir=$(INSTALLDIR)/etc --disable-static PVER=$(version)
	make
endif

clean:
	dh_testdir
	dh_testroot
	rm -rf build-stamp
	rm -rf configure-stamp
	rm -rf $(INSTALLDIR)
	dh_clean
	
install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
ifdef extbuilddir
	mkdir -p $(INSTALLDIR) && cp -R $(extbuilddir)/* $(INSTALLDIR)
else
	make install
endif
	mv $(INSTALLDIR)/etc/init.d/glite-ce-blah-parser $(CURDIR)/debian/glite-ce-blahp.init

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installman
	dh_installchangelogs
	dh_installinit
	dh_install
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_makeshlibs
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb --destdir=debs

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
