{% extends "base.html" %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col" id="cpu">
                <script>
                    new HTCondorViewRanged({
                        dst_id: "cpu",
                        title: "Total CPUs in Use",
                        help: "{{ base }}help/glossary.html",
                        data_url: "data/slots..json",
                        graph_query: "order=Date&group=Date;Cpus&rename=Cpus=CPUs&chart=line",
                        select_tuple: ["Name"],
                    });
                </script>
            </div>
        </div>

        <div class="row">
            <div class="col" id="memory">
                <script>
                    new HTCondorViewRanged({
                        dst_id: "memory",
                        title: "Total Memory in Use",
                        data_url: "data/slots..json",
                        graph_query: "order=Date&group=Date;Memory&rename=Memory=Memory (MB)&chart=line",
                        select_tuple: ["Name"]
                    });
                </script>
            </div>
        </div>
    </div>

{% endblock body %}
