{% extends "base.html" %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col" id="cpu">
                <script>
                    new HTCondorViewRanged({
                        dst_id: "cpu",
                        title: "Total CPUs in Use",
                        data_url: "{{ base }}data/slots..json",
                        graph_query: "order=Date&pivot=Date;;Cpus&chart=stacked",
                        select_tuple: ["Name"]
                    });
                </script>
            </div>
        </div>

        <div class="row">
            <div class="col" id="memory">
                <script>
                    new HTCondorViewRanged({
                        dst_id: "memory",
                        title: "Total Memory in Use",
                        data_url: "{{ base }}data/slots..json",
                        graph_query: "order=Date&pivot=Date;;Memory&chart=stacked",
                        select_tuple: ["Name"]
                    });
                </script>
            </div>
        </div>
    </div>

{% endblock body %}
