# QMF plugins for Condor daemons -

# condor_master: advertises the master and provides start/stop
# functionality to control daemons
MASTER.PLUGINS = $(MASTER.PLUGINS) $(LIB)/plugins/MgmtMasterPlugin-plugin.so

# condor_collector: advertise the collector and various other
# components, such as grids and conditionally slots
COLLECTOR.PLUGINS = $(COLLECTOR.PLUGINS) $(LIB)/plugins/MgmtCollectorPlugin-plugin.so

# condor_negotiator: advertises the negotiator and provides access to
# fair-share and limits
NEGOTIATOR.PLUGINS = $(NEGOTIATOR.PLUGINS) $(LIB)/plugins/MgmtNegotiatorPlugin-plugin.so

# condor_schedd: advertises the schedd, conditionally provides
# information on submissions and jobs, and provides job control
SCHEDD.PLUGINS = $(SCHEDD.PLUGINS) $(LIB)/plugins/MgmtScheddPlugin-plugin.so

# condor_startd: advertises slots
STARTD.PLUGINS = $(STARTD.PLUGINS) $(LIB)/plugins/MgmtStartdPlugin-plugin.so


# Defaults needed for the JOB_SERVER
JOB_SERVER = $(SBIN)/condor_job_server
JOB_SERVER_ARGS = -f
JOB_SERVER_LOG = $(LOG)/JobServerLog
# Enabling the JOB_SERVER means adding it to DAEMON_LIST, e.g.
#DAEMON_LIST = $(DAEMON_LIST), JOB_SERVER
