# Base configuration for Plumage ODS components

# Host and port for the mongod server (raw and stats)
PLUMAGE_DB_HOST = localhost
PLUMAGE_DB_PORT = 27017

# basic View Server configuration for hosting the ODS plugin below
VIEW_SERVER = $(COLLECTOR)
VIEW_SERVER_ARGS = -f -p 12345 -local-name VIEW_SERVER
VIEW_SERVER_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/ViewServerLog"
COLLECTOR.CONDOR_VIEW_HOST = $(CONDOR_HOST):12345
VIEW_SERVER.CONDOR_VIEW_HOST =
VIEW_SERVER.KEEP_POOL_HISTORY = True

# View Server collector plugin
VIEW_SERVER.PLUGINS = $(VIEW_SERVER.PLUGINS) $(LIB)/plugins/PlumageCollectorPlugin-plugin.so
# or if not from an rpm...
#VIEW_SERVER.PLUGINS = $(VIEW_SERVER.PLUGINS) $(LIBEXEC)/PlumageCollectorPlugin-plugin.so

# currently the ODS View Server plugin captures only
# machine and submitter ads for statistics gathering
CONDOR_VIEW_CLASSAD_TYPES = Machine, Scheduler, Submitter

# add the view server to daemon list
DAEMON_LIST = $(DAEMON_LIST), VIEW_SERVER

# Job ETL server, provides continuous loading of job history into mongodb
JOB_ETL_SERVER = $(SBIN)/plumage_job_etl_server
JOB_ETL_SERVER_ARGS = -f
JOB_ETL_SERVER.JOB_ETL_SERVER_LOG = $(LOG)/JobEtlLog
JOB_ETL_SERVER.JOB_ETL_SERVER_DEBUG = D_ALWAYS
JOB_ETL_SERVER.JOB_ETL_SERVER_ADDRESS_FILE = $(LOG)/.job_etl_server_address

# add the job etl server to daemon list
DAEMON_LIST = $(DAEMON_LIST), JOB_ETL_SERVER
DC_DAEMON_LIST = + JOB_ETL_SERVER
