# Base configuration for Plumage ODS components

# Host and port for the mongod server
ODS_DB_HOST = localhost
ODS_DB_PORT = 27017

# basic View Server configuration for hosting the ODS plugin below
VIEW_SERVER = $(COLLECTOR)
VIEW_SERVER_ARGS = -f -p 12345 -local-name VIEW_SERVER
VIEW_SERVER_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/ViewServerLog"
COLLECTOR.CONDOR_VIEW_HOST = $(CONDOR_HOST):12345
VIEW_SERVER.CONDOR_VIEW_HOST =
VIEW_SERVER.KEEP_POOL_HISTORY = True

# View Server collector plugin
VIEW_SERVER.PLUGINS = $(VIEW_SERVER.PLUGINS) $(LIB)/plugins/ODSCollectorPlugin-plugin.so
# or if not from an rpm...
#VIEW_SERVER.PLUGINS = $(VIEW_SERVER.PLUGINS) $(LIBEXEC)/ODSCollectorPlugin-plugin.so

# currently the ODS View Server plugin captures only
# machine and submitter ads for statistics gathering
CONDOR_VIEW_CLASSAD_TYPES = Machine, Submitter

# add the view server to daemon list
DAEMON_LIST = $(DAEMON_LIST), VIEW_SERVER
