<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>HTCondorView</title>
    <link rel="stylesheet" href="htcondor.css"/>
    <link rel="stylesheet" href="htcondorview.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dygraph/1.1.0/dygraph-combined.js"></script>
    <script src="https://www.google.com/jsapi"></script>
    <script>
        google.load('visualization', '1.0', {
            packages: ['table', 'corechart', 'treemap', 'annotatedtimeline']
        });
    </script>
    <script src="htcondorview.js"></script>


</head>
<body>
<h1 class="htcbug"><img src="HTCondor-View.svg" alt="HTCondor View"></h1>

<div id="thechart"></div>

<!-- vizlog is where errors will go. -->
<div id="vizlog"></div>



</body>
</html>
