{% extends "base.html" %}

{% block title %}
    HTCondOverView
{% endblock title %}

{% block style %}
    <style>
        #total-jobs .graph .vizchart {
            width: 90%;
        }
    </style>
{% endblock style %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col">
                <script>
                    HTCondorView.simple("url={{ base }}data/submitters.now.json&title=Fraction of Jobs per Status&pivot=;;JobsRunning,JobsIdle,JobsHeld&rename=JobsRunning=Running&rename=JobsIdle=Idle&rename=JobsHeld=Held&transpose=JobStatus,Count&chart=pie");
                </script>
            </div>
            <div class="col">
                <script>
                    HTCondorView.simple("url={{ base }}data/slots.now.json&title=Fraction of Slots per Status&order=State&group=State;Cpus&chart=pie");
                </script>
            </div>
            <div class="col">
                <script>
                    HTCondorView.simple("url={{ base }}data/submitters.now.json&title=Fraction of Jobs per Submit Point&order=Machine&pivot=Machine;;JobsRunning&chart=pie");
                </script>
            </div>
        </div>
        <div class="row">
            <div class="col" id="total-jobs">
                <script>
                    new HTCondorViewRanged({
                        dst_id: "total-jobs",
                        title: "Jobs over Time by Status",
                        data_url: "{{ base }}data/submitters..json",
                        graph_query: "order=Date&pivot=Date;;JobsRunning,JobsIdle,JobsHeld&chart=stacked&rename=JobsRunning=Running&rename=JobsIdle=Idle&rename=JobsHeld=Held",
                        table_query: "order=Date&group=Name;avg(JobsRunning),avg(JobsIdle),avg(JobsHeld)&rename=avgJobsRunning=Running (avg.)&rename=avgJobsIdle=Idle (avg.)&rename=avgJobsHeld=Held (avg.)",
                        select_tuple: ["Name"],
                    });
                </script>
            </div>
        </div>
    </div>

{% endblock body %}
